body{
    font-family: Verdana;
    font-size: 12px;
    background: #008cba;
    color: #FFFFFF;
    margin: 10px;
    padding: 0px;
}

input{
    background: #008cba;
    color:#FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 5px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    color:#000000;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #008cba;
    color: white;
}

#topBar{
    background: #FFFFFF;
    color: #008cba;
    padding: 10px;
    border-radius: 5px;
}

#topBar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;    
}

#topBar ul li{
    float: left;
    padding: 10px;
}

#topBar ul li a{
    background: #FFFFFF;
    color: #008cba;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#topBar ul li a:hover{
    background: #008cba;
    color: #FFFFFF;
}

.container{
    background: #FFFFFF;
    color:#008cba;
    padding: 10px;
    border-radius: 5px;
    margin:10px auto;
    width: 75%;
    min-height: 750px;   
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.box{
    background: #008cba;
    color:#FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;  
    text-decoration: none;
}

.clear{
    clear: both;
}